@import url("https://fonts.googleapis.com/css2?family=Bubblegum+Sans&family=Inter:wght@600&family=Montserrat&family=Nunito&family=Open+Sans&family=Poppins&display=swap");

.titlebook {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  height: 100%;
  width: 100%;
}

.bookdetailoverall {
  margin-top: 10%;
  margin-bottom: 10%;
}

.details {
  background-color: #4d4d4d;
  list-style-type: none;
  padding-left: 0;
  width: 30%;
  border-radius: 10px 0px 0px 10px;
  height: inherit;
}

.details li {
  padding: 15px;
  color: #fff;
  font-size: 14px;
  text-align: left;
  font-family: "Poppins", sans-serif;
}
.details2 {
  background-color: #fcf8fd;
  list-style-type: none;
  padding-left: 0;
  width: 70%;
  border-radius: 0px 10px 10px 0px;
  height: inherit;
  text-transform: capitalize;
  font-family: "Poppins", sans-serif;
}

.details2 li {
  padding: 15px 45px;
  color: #4d4d4d;
  font-size: 14px;
  text-align: left;
  font-family: "Poppins", sans-serif;
}

/* Mobile */
@media only screen and (max-width: 767px) {
  .bookdetailhalf {
    margin-bottom: 10%;
    font-family: "Poppins", sans-serif;
  }
  .details2 li {
    padding: 19px 45px;
    font-family: "Poppins", sans-serif;
  }
}
