@import url("https://fonts.googleapis.com/css2?family=Bubblegum+Sans&family=Inter:wght@600&family=Montserrat&family=Nunito&family=Open+Sans&family=Poppins&display=swap");

.Values {
  background: url("../../public/images/Values.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 100%;
  height: 80rem;
}

.valuesheading {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 12rem;
}

.valuetitle {
  font-size: 32px;
  color: #000;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
}

.subtitle {
  text-align: center;
  font-size: 16px;
  color: #4d4d4d;
}

.greenleaf {
  margin: auto;
  height: 450px;
  margin-top: 60px;
}

.firsthalf1 {
  background: url("../../public/images/green1.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  max-width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 100px;
  text-align: center;
  height: inherit;
}
.firsthalf2 {
  background: url("../../public/images/green2.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  max-width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 100px;
  text-align: center;
  height: inherit;
}

.firsthalf3 {
  background: url("../../public/images/green3.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  max-width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 100px;
  text-align: center;
  height: inherit;
}
.firsthalf4 {
  background: url("../../public/images/green4.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  max-width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 100px;
  text-align: center;
  height: inherit;
}

.valuestitles {
  font-size: 28px;
  color: #fff;
  font-family: "Poppins", sans-serif;
  padding-top: 40px;
  font-weight: 600;
}

.valuessubcontent {
  font-size: 14px;
  color: #fff;
}

/* Mobile */
@media only screen and (max-width: 767px) {
}

/* Tablet */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
}

/* Laptop */
@media only screen and (min-width: 1024px) and (max-width: 1365px) {
}

/* Larger screens */
@media only screen and (min-width: 1366px) {
}
