.welcome {
    background-image: url('../../public/images/welcome.svg');
    background-position: center;
    background-repeat: no-repeat;

    /* Use the 'file://' protocol to specify a local file path */
    background-size: cover;
    /* Optional: Adjust the size of the background image */
    /* Other background properties can be added as needed, such as background-position, background-repeat, etc. */
  
    /* Optional: Set the width of the div */
   max-width: 100%;
  
    /* Optional: Set the height of the div */
}