.pri {
  text-align: center;
  margin-bottom: 60px;
  font-weight: 500;
  /* color:rgb(58, 56, 56); */
}
.privacy {
  margin-top: 130px;
  font-family: poppins;
}
.poi {
  margin-bottom: 15px;
  color: #f19e38;
}
p {
  text-align: justify;
  margin-bottom: 25px;
  font-size: 15px;
}
